        div{
            color: rgb(10, 240, 98);
            background-color: rgb(18, 233, 47);
            width: 500px;
            height: 500px;
            margin-top: 100px;
            margin-left: 500px;
            margin-bottom: 100px;
            

        }
        h1{
            text-align: center;
            color: white;
            font-size: 50px;
            font-style: oblique;
        }
        label{
            color: white;
            font-size: 30px;
            margin-left: 50px;
            font-style:italic;
        }
        input[type=text],input[type=password] {
            
            font-size: 30px;
            margin-left: 50px;
            text-shadow: 2px;
            border-radius: 9px;
            font-style: italic;
            text-decoration-color: rgb(245, 6, 57);
            text-align: center;
        }
        input[type=submit] {
            background-color:blue ;
            color: white;
            font-size: 30px;
            text-align: center;
            margin-left: 200px;
            border-radius: 12px;
            padding: 8px;
            padding-left: 10px;
            padding-right: 10px;
            

        }
        input[type=submit]:hover{
            background-color: rgb(255, 0, 0);
            color: white;
            cursor: pointer;
        }
        ul{
            list-style-type: none;
            margin-left: 20px;
           
        }
        li{
            display: inline;
        }
        a{
            color: white;
            font-size: 30px;
            text-decoration: none;
            padding: 10px;
        }
        a:hover{
            color: blue;
        }
       
